# Project exclude paths
/build/
/out/
logs/

.settings
*/.settings
*.project
*.classpath
*/.gradle

*.class
**/build/
**/bin/

# Gradle
.idea/**/gradle.xml
.idea/**/libraries
.idea/checkstyle-idea.xml
.idea/compiler.xml